<div id="landingContainer" style="display: none;">
    <div id="upper">
        <div id="left">
            <div id="sidebar">
                <span id="LandingTitle">Neu Online</span>
                <div id="PF-field"></div>
                <img id="RiaWeb" src="./assets/images/img-source/Ria network_icon white.png"/>
                <img id="discord" src="./assets/images/img-source/Ria network_icon design_discord.png"/>
                <span id="minepg">M</span>
                <img id="settingsMediaButton" src="./assets/images/img-source/settings_black_48dp.svg"/>
                <img id="youtube" src="./assets/images/img-source/youtube-svgrepo-com (1).svg"/>
                <div id="sidebar_button">
                    <button id="announce_button">
                        <img id="announce_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <span id="announce_text">공지사항</span>
                    </button>
                    <button id="fetch_button">
                        <img id="fetch_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <span id="fetch_text">패치노트</span>
                    </button>
                    <button id="maintain_button">
                        <img id="maintain_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <span id="maintain_text">점검사항</span>
                    </button>
                    <button id="event_button">
                        <img id="event_svg" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <span id="event_text">이벤트</span>
                    </button>
                </div>
            </div>
            <div id="image_seal_container">
                <div id="updateAvailableTooltip">Update Available</div>
            </div>
        </div>
        <div id="landing_pages">
            <!-- <iframe id="cafe-iframe" width="300" height="200" src="https://cafe.naver.com/ArticleList.nhn/ArticleRead.nhn?clubid=29216659&page=1&menuid=146&boardtype=L&articleid=5982&referrerAllArticles=false"> -->

            </iframe>
            <div id="announce_page">
                <span id="announce_page_text">공지사항</span>
                <div id="announce_blank">
                    <div id="announce_1">
                        <img id="announce_blank_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <a id="announce_title_1">공지가 없습니다</a>
                    </div>
                    <div id="announce_2">
                        <img id="announce_blank_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <an id="announce_title_2">공지가 없습니다</a>
                    </div>
                    <div id="announce_3">
                        <img id="announce_blank_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <a id="announce_title_3">공지가 없습니다</a>
                    </div>
                    <div id="announce_4">
                        <img id="announce_blank_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <a id="announce_title_4">공지가 없습니다</a>
                    </div>
                    <div id="announce_5">
                        <img id="announce_blank_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <a id="announce_title_5">공지가 없습니다</a>
                    </div>
                </div>
                <div id="announce_article">
                    <button id="announce_cancel">뒤로가기</button>
                    <div id="announce_article_title">
                        <img id="announce_blank_svg" src="./assets/images/img-source/campaign_black_48dp.svg"/>
                        <a id="announce_article_text">공지가 없습니다</a>
                    </div>
                    <div id="unclickable"></div>
                    <iframe id="announce_article_displayer"
                        title="announce_article_displayer"
                        width="834"
                        height="400"
                        src="https://cafe.naver.com/neuonline2">
                    </iframe>
                </div>
            </div>
            <div id="fetch_page">
                <span id="fetch_page_text">패치노트</span>
                <div id="fetch_blank">
                    <div id="fetch_1">
                        <img id="fetch_blank_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <a id="fetch_title_1">패치내역이 없습니다</a>
                    </div>
                    <div id="fetch_2">
                        <img id="fetch_blank_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <a id="fetch_title_2">패치내역이 없습니다</a>
                    </div>
                    <div id="fetch_3">
                        <img id="fetch_blank_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <a id="fetch_title_3">패치내역이 없습니다</a>
                    </div>
                    <div id="fetch_4">
                        <img id="fetch_blank_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <a id="fetch_title_4">패치내역이 없습니다</a>
                    </div>
                    <div id="fetch_5">
                        <img id="fetch_blank_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <a id="fetch_title_5">패치내역이 없습니다</a>
                    </div>
                </div>
                <div id="fetch_article">
                    <button id="fetch_cancel">뒤로가기</button>
                    <div id="fetch_article_title">
                        <img id="fetch_blank_svg" src="./assets/images/img-source/checklist_black_48dp.svg"/>
                        <a id="fetch_article_text">패치내역이 없습니다</a>
                    </div>
                    <div id="unclickable"></div>
                    <iframe id="fetch_article_displayer"
                        title="fetch_article_displayer"
                        width="834"
                        height="400"
                        src="https://cafe.naver.com/neuonline2">
                    </iframe>
                </div>
            </div>
            <div id="maintain_page">
                <span id="maintain_page_text">점검사항</span>
                <div id="maintain_blank">
                    <div id="maintain_1">
                        <img id="maintain_blank_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <a id="maintain_title_1">점검사항이 없습니다</a>
                    </div>
                    <div id="maintain_2">
                        <img id="maintain_blank_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <a id="maintain_title_2">점검사항이 없습니다</a>
                    </div>
                    <div id="maintain_3">
                        <img id="maintain_blank_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <a id="maintain_title_3">점검사항이 없습니다</a>
                    </div>
                    <div id="maintain_4">
                        <img id="maintain_blank_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <a id="maintain_title_4">점검사항이 없습니다</a>
                    </div>
                    <div id="maintain_5">
                        <img id="maintain_blank_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <a id="maintain_title_5">점검사항이 없습니다</a>
                    </div>
                </div>
                <div id="maintain_article">
                    <button id="maintain_cancel">뒤로가기</button>
                    <div id="maintain_article_title">
                        <img id="maintain_blank_svg" src="./assets/images/img-source/build_black_48dp.svg"/>
                        <a id="maintain_article_text">패치내역이 없습니다</a>
                    </div>
                    <div id="unclickable"></div>
                    <iframe id="maintain_article_displayer"
                        title="maintain_article_displayer"
                        width="834"
                        height="400"
                        src="https://cafe.naver.com/neuonline2">
                    </iframe>
                </div>
            </div>
            <div id="event_page">
                <button id="event_cancel" style="display: felx;">뒤로가기</button>
                <span id="event_page_text">이벤트</span>
                <div id="event_list">
                    <div id="past_event">
                        <span id="past_event_text">이전 이벤트</span>
                    </div>
                    <div id="current_event">
                        <span id="current_event_text">현재 이벤트</span>
                    </div>
                    <div id="future_event">
                        <span id="future_event_text">예정 이벤트</span>
                    </div>
                </div>
                <div id="events">
                    <div id="event_1">
                        <img id="event_img" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <a id="event_title_1">이벤트가 없습니다</a>
                    </div>
                    <div id="event_2">
                        <img id="event_img" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <a id="event_title_2">이벤트가 없습니다</a>
                    </div>
                    <div id="event_3">
                        <img id="event_img" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <a id="event_title_3">이벤트가 없습니다</a>
                    </div>
                    <div id="event_4">
                        <img id="event_img" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <a id="event_title_4">이벤트가 없습니다</a>
                    </div>
                    <div id="event_5">
                        <img id="event_img" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <a id="event_title_5">이벤트가 없습니다</a>
                    </div>
                </div>
                <div id="event_article">
                    <div id="event_article_title">
                        <img id="event_blank_svg" src="./assets/images/img-source/event_available_black_48dp.svg"/>
                        <a id="event_article_text">이벤트가 없습니다</a>
                    </div>
                    <div id="unclickable" style="transform: translate(74px, 118px); height: 384px;"></div>
                    <iframe id="event_article_displayer"
                        title="event_article_displayer"
                        width="834"
                        height="400"
                        src="https://cafe.naver.com/neuonline2"
                        style="transform: translate(74px, 117px);">
                    </iframe>
                </div>
            </div>
        </div>
        <div id="content">
        </div>
        <div id="right">
            <div id="rightContainer">
                <div id="user_content">
                    <span id="user_text">닉네임</span>
                    <div id="avatarContainer">
                        <button id="avatarOverlay">수정</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="lower">
        <div id="left" style="display: none;">
            <div class="bot_wrapper">
                <div id="content">
                    <div id="mojangStatusWrapper">
                        <span class="bot_label">MOJANG STATUS</span>
                        <span id="mojang_status_icon">&#8226;</span>
                        <div id="mojangStatusTooltip">
                            <div id="mojangStatusTooltipTitle">Services</div>
                            <div id="mojangStatusEssentialContainer">
                                <!-- Essential Mojang services are populated here. -->
                            </div>
                            <div id="mojangStatusNEContainer">
                                <div class="mojangStatusNEBar"></div>
                                <div id="mojangStatusNETitle">Non&nbsp;Essential</div>
                                <div class="mojangStatusNEBar"></div>
                            </div>
                            <div id="mojangStatusNonEssentialContainer">
                                <!-- Non Essential Mojang services are populated here. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="center" style="display: none;">
            <div class="bot_wrapper">
                <div id="content">
                    <button id="newsButton">
                        <!--<img src="assets/images/icons/arrow.svg" id="newsButtonSVG"/>-->
                        <div id="newsButtonAlert" style="display: none;"></div>
                        <svg id="newsButtonSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                        &#10;<span id="newsButtonText">NEWS</span>
                    </button>
                </div>
            </div>
        </div>
        <div id="right1">
            <div id="launch_content" style="transform: translate(-310px, 0px)">
                <button id="launch_button">PLAY</button>
                <button id="server_selection_button" class="bot_label">&#8226; No Server Selected</button>
                <div id="members-div">
                    <img id="members" src="./assets/images/icons/profile1.svg" class="filter-white"/>
                    <span id="player_count">OFFLINE</span>
                </div>
            </div>
            <div id="launch_details">
                <div id="launch_details_left">
                    <span id="launch_progress_label">0%</span>
                </div>
                <div id="launch_details_right">
                    <progress id="launch_progress" value="22" max="100"></progress>
                    <span id="launch_details_text" class="bot_label">Please wait..</span>
                </div>
            </div>
        </div>
    </div>
    <div id="newsContainer">
        <div id="newsContent" article="-1" style="display: none;">
            <div id="newsStatusContainer">
                <div id="newsStatusContent">
                    <div id="newsTitleContainer">
                        <a id="newsArticleTitle" href="#">Lorem Ipsum</a>
                    </div>
                    <div id="newsMetaContainer">
                        <div id="newsArticleDateWrapper">
                            <span id="newsArticleDate">Mar 15, 44 BC, 9:14 AM</span>
                        </div>
                        <div id="newsArticleAuthorWrapper">
                            <span id="newsArticleAuthor">by Cicero</span>
                        </div>
                        <a href="#" id="newsArticleComments">0 Comments</a>
                    </div>
                </div>
                <div id="newsNavigationContainer">
                    <button id="newsNavigateLeft">
                        <svg id="newsNavigationLeftSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                    <span id="newsNavigationStatus">1 of 1</span>
                    <button id="newsNavigateRight">
                        <svg id="newsNavigationRightSVG" viewBox="0 0 24.87 13.97">
                            <defs>
                                <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                            </defs>
                            <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div id="newsArticleContainer">
                <div id="newsArticleContent">
                    <div id="newsArticleContentScrollable">
                        <!-- Article Content -->
                    </div>
                </div>
            </div>
        </div>
        <div id="newsErrorContainer">
            <div id="newsErrorLoading">
                <span id="nELoadSpan" class="newsErrorContent">Checking for News..</span>
            </div>
            <div id="newsErrorFailed" style="display: none;">
                <span id="nEFailedSpan" class="newsErrorContent">Failed to Load News</span>
                <button id="newsErrorRetry">Try Again</button>
            </div>
            <div id="newsErrorNone" style="display: none;">
                <span id="nENoneSpan" class="newsErrorContent">No News</span>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/landing.js"></script>
    <script src="./assets/js/scripts/link.js"></script>
    <script src="./assets/js/scripts/sidebar-menu.js"></script>
    <script src="./assets/js/scripts/CafeArticle.js"></script>
</div>